<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css}" th:rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1>Список валют</h1>
    <form th:action="${@environment.getProperty('project.urls.gif')}">
        <label for="exchangesList">Выберите код валюты для проверки</label>
        <select name="code" id="exchangesList">
            <option value="0">Валюта</option>
            <option th:each="currency : ${currencies}" th:value="${currency.key}" th:text="${currency.value}"></option>
        </select>
        <br><br>
        <input type="submit" value="Проверить">
    </form>
</div>
</body>
</html>