<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="fragments/header :: html-head"></head>
<body>
<div class="container">
    <header th:fragment="header"></header>
    <h1>Список валют</h1>
    <form th:action="${@environment.getProperty('project.urls.gif')}">
        <label for="exchangesList">Выберите код валюты для проверки</label>
        <select name="code" id="exchangesList">
            <option value="0">Валюта</option>
            <option th:each="currency : ${currencies}" th:value="${currency.key}" th:text="${currency.value}"></option>
        </select>
        <br><br>
        <input type="submit" value="Проверить">
    </form>
</div>
</body>
</html>